body{
    margin: 0;
    padding: 0 !important;
    min-width: 320px;
    min-height: 100vh;
    display: block;
}

#root {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
}

.btn{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 6px 40px;
    border: 1px solid;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    color: #111;
    background-color: #fff;
    max-width: 140px;
}

.btn:hover{
    background-color: #747bff;
}