body{
    background-color: black;
    padding: 0 30px;
}

.btn{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 6px 40px;
    border: 1px solid;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    color: #111;
    background-color: #fff;
    max-width: 140px;
}

.btn:hover{
    background-color: #747bff;
}